.change_detail {
  .detail_template {
    background: #ffffff;
    margin-bottom: 8px;
    padding: 16px 16px 22px;

    &.detail_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header_title {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        margin-right: 10px;
      }
      .header_left {
        .left_no {
          display: flex;
          align-items: center;
          margin-bottom: 12px;
          p {
            font-size: 14px;
            font-weight: bold;
            color: #000000;
            &:not(:last-child){
              margin-right: 40px;
            }
          }
        }
        .left_box {
          display: flex;
          align-items: center;
          .via_stop {
            font-size: 12px;
            font-weight: 400;
            color: #333333;
          }
          > p {
            font-size: 14px;
            font-weight: 400;
            color: #000000;
            &:not(:last-child) {
              margin-right: 40px;
            }
          }
        }
      }
      .header_right {
        text-align: right;
        .right_price_box {
          .price {
            font-size: 24px;
            font-weight: bold;
            color: #333333;
            display: inline-flex;
            align-items: center;
            .jump_order_pay {
              margin-left: 12px;
              width: 96px;
              height: 34px;
              padding: 0;
              line-height: 34px;
              background: #fb9826;
              border-color: #fb9826;
              box-shadow: 0px 3px 6px rgba(251, 130, 38, 0.3);
              border-radius: 5px;
              font-size: 14px;
              font-weight: 400;
              color: #ffffff;
            }
          }
        }
        .seat_status {
          font-size: 12px;
          font-weight: 400;
          color: #000000;
          .ant-btn {
            margin-left: 8px;
            height: auto;
            font-size: 12px;
            font-weight: 400;
            color: #0070e2;
            padding: 0;
          }
        }
      }
    }

    &.detail_passenger {
      .passenger_main {
        .ant-table-thead {
          th.ant-table-cell {
            background-color: #f1f3f5;
            padding: 5px 8px;
          }
        }
        .ant-table-tbody {
          td.ant-table-cell {
            padding: 12px 8px;
            border-bottom-color: #eaeaea;
          }
        }
      }
    }

    .template_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      > p {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
      }
    }

    &.detail_ticket {
      .box_list {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        padding: 30px 0;
        &:first-child {
          padding-top: 10px;
        }
        &:last-child {
          padding-bottom: 10px;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #eaeaea;
        }
        .list_type {
          width: 40px;
          height: 18px;
          background: #dfeefe;
          border-radius: 2px;
          font-size: 11px;
          font-weight: 400;
          color: #0070e2;
          text-align: center;
          line-height: 18px;
          margin-right: 16px;
        }
        .list_number {
          margin-right: 60px;
        }
        .list_time {
          margin-right: 74px;
        }
        .list_info {
          display: inline-flex;
          align-items: center;
          margin-right: 90px;
          .info_status {
            &:first-child {
              background-color: #f89292;
            }
            width: 15px;
            height: 15px;
            font-size: 11px;
            text-align: center;
            font-weight: 400;
            line-height: 15px;
            color: #ffffff;
            border-radius: 2px;
            background-color: #1e8bf9;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            margin-right: 6px;
          }
          .info_date {
            margin-right: 8px;
            font-size: 20px;
            font-weight: bold;
            color: #000000;
            line-height: 20px;
          }
          .info_address {
            font-size: 12px;
            font-weight: 400;
            color: #000000;
          }
          .info_icon {
            background: url("../../static/trip_icon.png") no-repeat center center;
            background-size: contain;
            width: 120px;
            height: 10px;
            margin: 0 20px;
          }
        }
      }
    }

    &.detail_order_info {
      .order_info_main {
        .main_list {
          display: inline-block;
          &:not(:last-child) {
            margin-right: 65px;
          }
          font-size: 14px;
          font-weight: 400;
          color: #333333;
          &.remark {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 24px;
            p {
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .detail_bottom_box {
    text-align: center;
    margin-top: 24px;
    .back_btn {
      width: 120px;
      height: 40px;
      background: rgba(#000000, 0.08);
      box-shadow: 0px 3px 6px rgba(0, 112, 226, 0.3);
      border: none;
      border-radius: 40px;
      box-shadow: none;
      margin-right: 8px;
      &:hover {
        color: #000;
      }
    }
    .detail_btn {
      width: 120px;
      height: 40px;
      background: rgba(#000000, 0.08);
      border: none;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      &:hover {
        color: #000000;
      }
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
