.occupy_modal {
  // 原组件
  .ant-modal {
    .ant-modal-content {
      .ant-modal-close {
        display: none;
      }
      .ant-modal-body {
        padding-top: 63px;
      }
    }
  }
  .success_content {

    .content_top {
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      color: #333333;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: 16px;
    }
    .top_time {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 16px 0px 56px;
      .time_title {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        letter-spacing: 2px;
        margin-right: 8px;
      }
      .time_value {
        font-size: 12px;
        font-weight: 400;
        color: #0070E2;
        letter-spacing: 2px;
      }
    }
    .content_process{
      margin-bottom: 114px;
      height: 30px;
      background-color: #DFDFDF;
      border-radius: 16px;
      position: relative;
      overflow: hidden;
      // animation: occupy-process-bar 3s steps(5) infinite;
      // animation-timing-function: ease;
      // -webkit-animation: occupy-process-bar 3s steps(5) infinite;
      // @keyframes occupy-process-bar
      // {
      //   // from {background-color: #FB9826;}
      //   // to {background-position: center;}
      //   0% { left: 0px; background-color: #FB9826;}
      //   25% { left:200px; background-color: #FB9826;}
      // }
      .process_item {
        height: 30px;
        background-color: #FB9826;
        .process_img {
          position: relative;
          width: 95px;
          height: 30px;
          background-image: url('../../static/occupy_success.png');
          background-repeat: no-repeat;
          background-size: contain;
          margin-bottom: 10px;
          right: 0;
          
        }
        // &::before{
          //   content: "1";
          //   font-size: 18px;
          //   font-weight: bold;
          //   color: #000000;
          //   display: block;
          //   position: absolute;
          //   right: 0;
          // }
          
        .process_value {
            position: fixed;
            font-size: 18px;
            font-weight: bold;
            color: #000000;
        }
      }
    }
  }
  .fail_content {
    padding: 0px 129px;
    .fail_img {
      width: 75px;
      height: 75px;
      display: block;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .fail_title {
      font-size: 22px;
      font-weight: bold;
      color: #000000;
      letter-spacing: 2px;
      text-align: center;
      margin: 22px 0px 24px;
    }
    .fail_message {
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      margin: 22px 0px 85px;
    }
  }
  .occupy_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
    .button_cancel {
      height: 40px;
      border-radius: 40px;
      color: #0070E2;
      border: 1px solid rgba(0, 112, 226, 0.08);
      background:rgba(0, 112, 226, 0.08);
      padding: 10px 45px 11px;
      margin-right: 8px;
    }
    .button_detail {
      height: 40px;
      background: #0070E2;
      box-shadow: 0px 3px 6px rgba(0, 112, 226, 0.3);
      border-radius: 40px;
      color: #fff;
      padding: 10px 71px 11px;
    }
  }
}