.ticket_reservation {
  padding-bottom: 25px;
  .ticket_card {
    background: #ffffff;
    padding: 18px 0 24px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      min-height: 28px;
      margin-bottom: 12px;
      .title_name {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        letter-spacing: 1px;
      }
    }
  }

  // 车次信息
  .ticket_info {
    .info_main {
      padding: 0 126px 0 16px;
      > div {
        display: inline-block;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info_box {
        .box_number {
          font-size: 16px;
          font-weight: 400;
          color: #000000;
        }
        .box_stop {
          .via_stop {
            font-size: 12px;
            font-weight: 400;
            color: #333333;
          }
        }
      }
      .info_time {
        font-size: 14px;
        font-weight: 400;
        color: #000000;
      }
      .info_message {
        .message_address {
          display: inline-flex;
          align-items: center;
          font-size: 20px;
          font-weight: bold;
          color: #000000;
          span {
            display: inline-block;
            text-align: center;
            line-height: 15px;
            width: 15px;
            height: 15px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            font-size: 11px;
            font-weight: 400;
            color: #ffffff;
            margin-right: 6px;
          }
          p {
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            color: #000000;
            margin-left: 8px;
          }
        }
        img {
          display: inline-block;
          margin: 0 32px;
          width: 116px;
          height: 10px;
          object-fit: contain;
        }
      }
      .info_date {
        font-size: 14px;
        font-weight: 400;
        color: #000000;
      }
      .info_price {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        display: inline-flex;
        align-items: center;
        span {
          font-size: 14px;
          font-weight: 400;
          display: inline-block;
          margin-right: 6px;
        }
      }
    }
  }

  // 乘客信息
  .passenger_box {
    padding-bottom: 0;
    .open_passenger_btn {
      width: 70px;
      height: 28px;
      background: rgba(#0070e2, 0.1);
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }

    // 常用乘客弹窗
    .passenger_modal {
      .ant-modal-content {
        .ant-modal-close {
          .ant-modal-close-x {
            height: 48px;
            line-height: 48px;
          }
        }
        .ant-modal-body {
          padding: 0;
          border-radius: 5px;
          overflow: hidden;
          .modal_title {
            height: 48px;
            line-height: 48px;
            background: #f1f3f5;
            font-size: 16px;
            font-weight: bold;
            color: #333333;
            text-align: center;
          }
          .modal_main {
            padding: 16px;
            .modal_search_box {
              padding: 0 4px;
              display: flex;
              align-items: center;
              margin-bottom: 17px;
              .search_box_list {
                display: inline-flex;
                align-items: center;
                &:first-child {
                  margin-right: 50px;
                }
                .list_title {
                  font-size: 14px;
                  font-weight: 400;
                  color: #333333;
                  letter-spacing: 1px;
                  margin-right: 10px;
                }
                .list_input {
                  width: 160px;
                  .ant-select {
                    width: 100%;
                    .ant-select-selector {
                      height: 32px !important;
                      .ant-select-selection-item {
                        line-height: 32px;
                      }
                    }
                  }
                }
              }
              .search_box_btn {
                width: 88px;
                height: 32px;
                background: #0070e2;
                border-color: #0070e2;
                box-shadow: 0px 2px 4px rgba(0, 112, 226, 0.3);
                border-radius: 17px;
                margin-left: 20px;
              }
            }
            .modal_table {
              .ant-table-thead {
                tr {
                  th {
                    padding: 4px 8px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #333333;
                  }
                }
              }
              .ant-table-tbody {
                tr {
                  &.ant-table-row-selected {
                    td.ant-table-cell {
                      background: #fafafa;
                    }
                  }
                  td {
                    font-size: 12px;
                    font-weight: 400;
                    color: #333333;
                  }
                }
              }

              .ant-pagination {
                margin-top: 15px;
                text-align: right;
              }
            }
          }
        }
        .ant-modal-footer {
          .ant-btn {
            width: 88px;
            height: 32px;
            border-radius: 17px;
            &:first-child {
            }
            &:last-child {
              border-color: #0070e2;
              background: #0070e2;
              box-shadow: 0px 3px 6px rgba(0, 112, 226, 0.3);
            }
          }
        }
      }
    }

    // 乘客列表
    .passenger_main {
      padding: 0 16px 24px;
      .main_list {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
        .list_type {
          width: 16px;
          height: 16px;
          background: #afb9c4;
          border-radius: 2px;
          font-size: 12px;
          font-weight: 400;
          color: #ffffff;
          text-align: center;
          line-height: 16px;
          margin-right: 4px;
          flex-shrink: 0;
        }
        .list_item {
          display: inline-flex;
          align-items: center;

          &:not(.adt_name) {
            margin-left: 24px;
          }

          .item_title {
            font-size: 14px;
            font-weight: 400;
            color: #333333;
            margin-right: 10px;
            flex-shrink: 0;
          }
          .item_input {
            width: 160px;
            .ant-select {
              width: 100%;
              .ant-select-selector {
                height: 32px !important;
              }
            }
          }
          .item_input_date {
            &:not(:last-child) {
              margin-right: 18px;
            }
            .ant-select {
              width: 120px;
              margin-right: 7px;
            }
          }
          &.chd_name {
            .item_input {
              &::after {
                display: none !important;
              }
            }
          }
          &.adt_name {
            .ant-dropdown-menu{
              padding: 0 !important;
            }
            .item_input {
              position: relative;
              .remark_icon {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 9;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }

        .is_verify_status {
          font-size: 12px;
          font-weight: 400;
          color: #ff0000;
          border-bottom: 1px dashed #ff0000;
          padding: 0;
          margin: 0 10px;
        }

        .is_verify_status ~ .add_child {
          margin-left: 0;
        }

        .add_child {
          border-color: #0070e2;
          font-size: 12px;
          font-weight: 400;
          color: #0070e2;
          margin-right: 23px;
          margin-left: 23px;
        }

        .remove_btn {
          width: 32px;
          height: 32px;
          border: none;
          padding: 0;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          box-shadow: none;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
          img {
            width: 14px;
            height: 14px;
            object-fit: contain;
          }
        }
      }
      .child_info {
        padding: 0 20px;
        font-size: 12px;
        font-weight: 400;
        color: #666666;
        line-height: 19px;
      }

      // 确认订单乘客信息
      &.create_order {
        .main_list {
          .list_item {
            &:not(:last-child) {
              margin-right: 60px;
            }
            .item_input {
              width: auto;
              font-size: 14px;
              font-weight: bold;
              color: #333333;
              .ant-switch {
                width: 56px;
                height: 20px;
                line-height: 20px;
                background-color: #dfdfdf;
                .ant-switch-handle {
                  top: 1px;
                }
                &.ant-switch-checked {
                  background-color: #5ab957;
                }
              }
            }
          }
        }
      }
    }

    // 添加乘客按钮
    .add_passenger_box {
      padding: 16px;
      text-align: center;
      border-top: 1px solid #eaeaea;
      .add_btn {
        width: 44%;
        height: 38px;
        background: #0070e2;
        border-color: #0070e2;
        box-shadow: 0px 3px 6px rgba(0, 112, 226, 0.3);
        border-radius: 19px;
        letter-spacing: 3px;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }

  // 在线选座
  .cabin_info {
    padding-bottom: 0;
    .cabin_box {
      padding: 0 16px;
      display: flex;
      margin-bottom: 24px;
      .box_title {
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        letter-spacing: 1px;
        line-height: 40px;
      }
      .box_check {
        margin: 0 60px 0 76px;
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
        .check_title {
          font-size: 14px;
          font-weight: 400;
          color: #333333;
          letter-spacing: 1px;
          &:first-child {
            margin: 0 24px 0 0;
          }
          &:last-child {
            margin: 0 0 0 24px;
          }
        }
        .ant-checkbox-wrapper {
          &.ant-checkbox-wrapper-checked {
            .cabin_item {
              .cabin_img {
                background: url("../../static/cabin_icon_active.png") no-repeat center
                  center;
                background-size: contain;
              }
            }
          }
          .ant-checkbox {
            display: none;
          }

          .cabin_item {
            position: relative;
            text-align: center;
            width: 38px;
            height: 40px;
            line-height: 40px;

            &.not_radio {
              margin: 0 56px !important;
              cursor: auto;
              vertical-align: top;
              .check_title {
                margin: 0;
              }
            }
            &:not(:last-child) {
              margin-right: 24px;
            }
            &:nth-child(3) {
              margin-right: 0;
            }
            span {
              width: 100%;
              height: 100%;
              display: inline-block;
              text-align: center;
            }
            .cabin_img {
              background: url("../../static/cabin_icon.png") no-repeat center center;
              background-size: contain;
            }
            .cabin_text {
              display: inline-block;
              position: absolute;
              font-size: 12px;
              font-weight: bold;
              color: #ffffff;
              left: 0;
              top: 0;
              text-align: center;
              line-height: 30px;
            }
          }
        }
      }
    }
    .cabin_message {
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      color: #666666;
      letter-spacing: 1px;
      border-top: 1px solid #eaeaea;
    }
  }
  .not_cabin_select {
    height: 40px;
    line-height: 40px;
    background: rgba(#fb9826, 0.15);
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    color: #fb9826;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    img {
      width: 22px;
      height: 22px;
      object-fit: contain;
      margin-right: 12px;
    }
    span {
      font-size: 14px;
      font-weight: bold;
      color: #fb9826;
    }
  }

  // 联系人信息
  .contact_box {
    padding: 0 16px;
    .box_list {
      display: inline-block;
      display: inline-flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 40px;
      }
      .list_title {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        letter-spacing: 1px;
      }
    }
  }

  .insurance_info {
    .title {
      .title_name {
        .insurance_icon {
          width: 20px;
          height: 20px;
          object-fit: contain;
          margin-right: 7px;
          vertical-align: middle;
        }
      }
    }
    .insurance_box {
      padding: 0 16px;
      display: flex;
      align-items: center;
      .box_title {
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        margin-right: 10px;
      }
      .ant-select {
        width: 280px;
        margin-right: 18px;
      }
      .box_info {
        font-size: 14px;
        font-weight: 400;
        color: #999999;
        span {
          font-size: 20px;
          font-weight: bold;
          color: #ff0000;
          margin-right: 5px;
        }
      }
    }
  }

  // 订单金额
  .price_info {
    .price_main {
      padding: 0 16px;
      position: relative;
      .price_total {
        position: absolute;
        right: 16px;
        bottom: 0;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        span {
          font-size: 24px;
          font-weight: bold;
          color: #ff0000;
        }
      }
      .main_list {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &:not(.chd_type) {
          .list_type {
            background: rgba(#5ab957, 0.2);
            color: #5ab957;
          }
        }
        .list_type {
          &.chd_type {
            background: rgba(#0070e2, 0.2);
            color: #0070e2;
          }
          width: 56px;
          height: 20px;
          background: rgba(#0070e2, 0.2);
          border-radius: 10px;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          font-weight: 400;
          color: #0070e2;
          margin-right: 8px;
        }
        .list_price {
          display: inline-flex;
          align-items: center;
          font-size: 14px;
          font-weight: 400;
          color: #333333;
          min-width: 160px;

          .price_title {
            margin-right: 8px;
          }
        }
      }
    }
  }

  // 操作按钮
  .submit_box {
    text-align: center;
    margin-top: 24px;
    .ant-btn {
      &:first-child {
        width: 120px;
        height: 40px;
        background: rgba(#000000, 0.08);
        box-shadow: 0px 3px 6px rgba(0, 112, 226, 0.08);
        border: none;
        border-radius: 40px;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        margin-right: 8px;
      }
      &:last-child {
        &:disabled {
          background: #afb9c4 !important;
          box-shadow: 0px 3px 6px rgba(175, 185, 196, 0.3) !important;
        }
        border: none;
        width: 200px;
        height: 40px;
        background: #fb8226;
        box-shadow: 0px 3px 6px rgba(251, 130, 38, 0.3);
        border-radius: 40px;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
}
// 乘客核验弹窗
.is_passenger_check {
  .ant-modal-content {
    border-radius: 5px;
    .ant-modal-close {
      .ant-modal-close-x {
        height: 47px;
        line-height: 47px;
      }
    }
    .ant-modal-header {
      padding: 12px 24px;
      background: #f1f3f5;
      .ant-modal-title {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        text-align: center;
      }
    }
    .ant-modal-body {
      padding: 38px 24px 42px;
      .check_title {
        text-align: center;
        margin-bottom: 28px;
        h3 {
          font-size: 20px;
          font-weight: bold;
          color: #333333;
          letter-spacing: 1px;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          color: #333333;
        }
      }
      .check_main {
        min-height: 160px;
        background: #f1f3f5;
        padding: 24px 16px 30px;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 30px;
        > p {
          &:not(:last-child) {
            margin-bottom: 18px;
          }
        }
        .passenger_info {
          span {
            &:first-child {
              display: inline-block;
              margin: 0 10px;
              font-size: 14px;
              font-weight: bold;
              color: #333333;
            }
          }
        }
        .code {
          > span {
            display: inline-block;
            min-width: 80px;
            padding: 0 10px;
            text-align: center;
            line-height: 30px;
            height: 30px;
            background: #ffffff;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            color: #333333;
            margin-right: 15px;
          }
        }
        .ant-spin {
          width: 100%;
          height: 106px;
          padding-top: 30px;
        }
      }
      .check_status {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        span {
          font-size: 14px;
          font-weight: bold;
          color: #fb9826;
        }
      }
      .reload_passenger_status {
        text-align: center;
        margin-top: 24px;
        .reload_btn {
          width: 280px;
          height: 38px;
          border-color: #0070e2;
          background: #0070e2;
          box-shadow: 0px 3px 6px rgba(0, 112, 226, 0.3);
          border-radius: 19px;
        }
      }
    }
  }
}

.passenger_remark_popover {
  .ant-popover-inner-content {
    padding: 0;
  }
  .passenger_remark {
    width: 200px;
    padding-top: 15px;
    .remark_title {
      font-size: 16px;
      font-weight: bold;
      color: #333333;
      padding: 0 15px;
    }
    .remark_message {
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      padding: 0 15px;
      margin-top: 10px;
      padding-bottom: 10px;
    }
    .remark_btn {
      height: 40px;
      width: 100%;
      border-top: 1px solid #f2f2f2;
      text-align: center;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      color: #0070e2;
      line-height: 40px;
    }
  }
}
